.loader{
    position: fixed;
    top:0; left:0; right:0; bottom: 0;
    background-color:white;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .loader img{
    width: 35rem;
 }

 .a{
   padding: 5px 20px;
   background-color:orange;
   border: 2px solid grey;
   color: white;
} 
.a:hover{
   background-color: red;
   color: black;
}